.header_container {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  background-color: #fff;
  margin-bottom: 70px;
}
.btn_container {
  button {
    background-color: #fff;
    color: #5d5e5f;
    margin-left: 15px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: none;
  }
}
.btn_signup {
  background-color: #1ba94c !important;
  border-radius: 1px;
  color: white !important;
  cursor: pointer;
  &:hover {
    background-color: #fff !important;
    color: #5d5e5f !important;
    border: 1px solid #1ba94c;
  }
}
.btn_login {
  cursor: pointer;
  border: 1px solid #0074b1 !important;
  
  &:hover {
    background-color: #0074b1 !important;
    border-radius: 1px;
    color: white !important;
  }
}
.icon {
    cursor: pointer;
  p {
    color: #5d5e5f;
    font-size: 25px;
    font-weight: 800;
    border-right: 18px solid green;
  }
}
